*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 60%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    content: '';
    display: table;
    clear: both;
}

.articolo{
    width: calc(100% / 3 - 20px);
    margin: 10px;
    float: left;
}


/* immagine articolo */
.articolo-top{
    position: relative;
}

.articolo-top img{
    width: 100%;
}

.cuore::after{
    content: '\2661';
    background-color: #fff;
    font-size: 30px;
    padding: 0px 10px;
    position: absolute;
    top: 10px;
    right: 0;
}

.articolo-top-text{
    position: absolute;
    color: #fff;
    font-weight: bold;
    bottom: 20px;
    left: 0px;
}

.sconto{
    background-color: #d73b48;
    padding: 5px;
}

.eco{
    background-color: #3e8158;
    padding: 5px;
}

/* descrizione articolo */
.azienda{
    margin-top: 7px;
    font-family: 'Times New Roman', Times, serif;
}

.azienda::after{
    content: '\00AE';
    font-size: 10px;
    vertical-align: top;
}

.descrizione-articolo{
    text-transform: uppercase;
}

.prezzo-originale{
    font-weight: bold;
    color: #d73b48;
    margin-top: 10px;
}

/* debug */

.container{
    background-color: lightcoral;
}